<!DOCTYPE html>
<html lang="en" data-ng-app="pokeSniper">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PokeSniper</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-ng-controller="PokeSniper">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">PokeSniper.org</a></li>
            <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Pokemon List</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 40px;">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="tab-content">

              <div role="tabpanel" class="tab-pane fade in active" id="home">

                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th class="text-center">&nbsp;</th>
                      <th class="text-center">Pokemon</th>
                      <th class="text-center">IV</th>
                      <th class="text-center">Coords</th>
                      <th class="text-center">Discovered</th>
                      <th class="text-center">Wanted</th>
                      <th class="text-center">Snipe</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="spawn in pokemons.spawns | orderBy: '-unixtime' track by $index"
                      data-ng-class="{'danger': spawn.isPerfect, 'success': spawn.pokemon.isWanted, 'info': spawn.alreadSniped}">
                      <th style="background-color: #fff;" scope="row" class="text-center">
                        <img data-ng-src="{{ spawn.pokemon.image() }}" alt="{{ spawn.pokemon.name }}" style="height: 34px;">
                      </th>
                      <td class="text-center">
                        {{ spawn.pokemon.name }}
                      </td>
                      <td class="text-center">
                        {{ (spawn.iv > 0) ? spawn.iv : "?" }}
                      </td>
                      <td class="text-center">{{ spawn.coords }}</td>
                      <td class="text-center">{{ spawn.time.fromNow() }}</td>
                      <td class="text-center">
                        <button class="btn btn-default" data-ng-hide="spawn.pokemon.isWanted" data-ng-click="spawn.pokemon.iWant()">I Want!</button>
                        <button class="btn btn-success" data-ng-show="spawn.pokemon.isWanted" data-ng-click="spawn.pokemon.iDontWant()">Wanted</button>
                      </td>
                      <td class="text-center">
                        <a href="pokesniper2://{{ spawn.pokemon.name }}/{{ spawn.coords }}" data-ng-click="spawn.alreadSniped=true" class="btn btn-default"
                          data-ng-class="{'btn-danger': spawn.isPerfect, 'btn-success': spawn.pokemon.isWanted, 'btn-primary': spawn.alreadSniped}"
                          data-ng-show="!spawn.alreadSniped">SnipeIt</a>

                        <a href="pokesniper2://{{ spawn.pokemon.name }}/{{ spawn.coords }}" class="btn btn-primary"
                        data-ng-show="spawn.alreadSniped">AlreadSniped</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="profile" style="padding: 10px 0;">
                <div style="margin: 0 4px 20px 4px;">
                  <input type="text" class="form-control" placeholder="Procurar" data-ng-model="filterInput">
                </div>

                <div class="col-md-2" style="padding-right: 5px; padding-left: 5px;" 
                  data-ng-repeat="pokemon in pokemons.list | filter: filterInput track by $index">
                  <div class="thumbnail text-center">
                    <img data-ng-src="{{ pokemon.image() }}" alt="{{ pokemon.name }}" style="height: 64px;">
                    <div>
                      <h4>{{ pokemon.name }}</h4>
                      <p>
                        <button class="btn btn-default" data-ng-hide="pokemon.isWanted" data-ng-click="pokemon.iWant()">I Want!</button>
                        <button class="btn btn-success" data-ng-show="pokemon.isWanted" data-ng-click="pokemon.iDontWant()">Wanted</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Wanted</h3>
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-md-3" data-ng-repeat="spawn in pokemons.spawns | filter: { pokemon: { isWanted: true } } | orderBy: '-unixtime' track by $index">
                <div class="thumbnail" style="text-align: center;">
                  <img data-ng-src="{{ spawn.pokemon.image() }}" alt="{{ spawn.pokemon.name }}" style="height: 128px;">
                  <div>
                    <h3>{{ spawn.pokemon.name }} ({{ (spawn.iv > 0) ? spawn.iv : "?" }})</h3>
                    <p>{{ spawn.time.fromNow() }}</p>
                    <p>
                      <a href="pokesniper2://{{ spawn.pokemon.name }}/{{ spawn.coords }}" data-ng-click="spawn.alreadSniped=true" class="btn btn-default"
                        data-ng-class="{'btn-danger': spawn.isPerfect, 'btn-success': spawn.pokemon.isWanted, 'btn-primary': spawn.alreadSniped}"
                        data-ng-show="!spawn.alreadSniped">SnipeIt</a>

                      <a href="pokesniper2://{{ spawn.name }}/{{ spawn.coords }}" class="btn btn-primary"
                        data-ng-show="spawn.alreadSniped">AlreadSniped</a>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
    <script>
      var _expiresAfter = 60 * 10;
      var _pokemon_list = ["Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", "Charizard", "Squirtle", "Wartortle", "Blastoise", "Caterpie", "Metapod", "Butterfree", "Weedle", "Kakuna", "Beedrill", "Pidgey", "Pidgeotto", "Pidgeot", "Rattata", "Raticate", "Spearow", "Fearow", "Ekans", "Arbok", "Pikachu", "Raichu", "Sandshrew", "Sandslash", "NidoranFemale", "Nidorina", "Nidoqueen", "NidoranMale", "Nidorino", "Nidoking", "Clefairy", "Clefable", "Vulpix", "Ninetales", "Jigglypuff", "Wigglytuff", "Zubat", "Golbat", "Oddish", "Gloom", "Vileplume", "Paras", "Parasect", "Venonat", "Venomoth", "Diglett", "Dugtrio", "Meowth", "Persian", "Psyduck", "Golduck", "Mankey", "Primeape", "Growlithe", "Arcanine", "Poliwag", "Poliwhirl", "Poliwrath", "Abra", "Kadabra", "Alakazam", "Machop", "Machoke", "Machamp", "Bellsprout", "Weepinbell", "Victreebel", "Tentacool", "Tentacruel", "Geodude", "Graveler", "Golem", "Ponyta", "Rapidash", "Slowpoke", "Slowbro", "Magnemite", "Magneton", "Farfetch'd", "Doduo", "Dodrio", "Seel", "Dewgong", "Grimer", "Muk", "Shellder", "Cloyster", "Gastly", "Haunter", "Gengar", "Onix", "Drowzee", "Hypno", "Krabby", "Kingler", "Voltorb", "Electrode", "Exeggcute", "Exeggutor", "Cubone", "Marowak", "Hitmonlee", "Hitmonchan", "Lickitung", "Koffing", "Weezing", "Rhyhorn", "Rhydon", "Chansey", "Tangela", "Kangaskhan", "Horsea", "Seadra", "Goldeen", "Seaking", "Staryu", "Starmie", "Mr. Mime", "Scyther", "Jynx", "Electabuzz", "Magmar", "Pinsir", "Tauros", "Magikarp", "Gyarados", "Lapras", "Ditto", "Eevee", "Vaporeon", "Jolteon", "Flareon", "Porygon", "Omanyte", "Omastar", "Kabuto", "Kabutops", "Aerodactyl", "Snorlax", "Articuno", "Zapdos", "Moltres", "Dratini", "Dragonair", "Dragonite", "Mew", "Mewtwo"];
    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/moment/min/moment-with-locales.min.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>
